html, body {
    height:100%;
    width:100%;
}

.navbar-fixed-top {
    box-shadow: 0 0 30px 0px rgba(0,0,0,0.1);
    background-color:white;
    border:none;
}

.navbar a:hover {
    color:#1BBFFF !important;
}

.navbar img {
    height:14px;
}

.icon-bar {
    background-color:black !important;
}

.navbar-toggle {
    border:none;
}

.navbar-toggle:hover {
    background-color:#F5F5F5!important;
}

.navbar-toggle:hover .icon-bar {
    background-color:#1BBFFF!important;
}

#features {
    width:100%;
    margin:auto;
    height:800px;
    position:relative;
    margin-top:50px;
}

.feature a {
    height:100%;
    width:100%;
}

.feature {
    overflow:hidden;
    width:33.333333%;
    height:300px;
    position:relative;
    float:left;
    background-size:100%;
    -webkit-transition: all 2s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
    cursor:pointer;
}

#hoverdiv {
    color:white;
    text-align:center;
    height:300px;
    width:33.333333%;
    background-color:rgba(0,0,0,0.8);
    z-index:100;
    position:absolute;
    display:block;
}

.project-title {
    position:absolute;
    width:100%;
    text-align:center;
    z-index:1000;
    opacity:0;
    height:100%;
    transition:opacity 1s;
    padding:10px;
}

.project-title:hover {
    opacity:1;
}

.project-title .btn-default {
    background-color:rgba(0,0,0,0);
    color:white;
    width:auto;
}
.project-title a {
    color:white;
}

#squiggle-feature .caption h2 {
    margin-top:10%;
}

#walle-feature {
    background: black;
}
#walleimg {
    background:url("../images/walle.jpeg") no-repeat ;
    width:100%;
    height:100%;
}

#appleseed-feature {
background: #6b0141; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #6b0141 0%, #3f0026 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#6b0141), color-stop(100%,#3f0026)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #6b0141 0%,#3f0026 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #6b0141 0%,#3f0026 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #6b0141 0%,#3f0026 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #6b0141 0%,#3f0026 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b0141', endColorstr='#3f0026',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#appleseedlogo {
    background: url("../images/appleseed.png") no-repeat center;
    height:100%;
    width:100%;
}

#picturethis-feature {
    background: #62e4f8; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #62e4f8 23%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(23%,#62e4f8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #62e4f8 23%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #62e4f8 23%,#1e5799 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #62e4f8 23%,#1e5799 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #62e4f8 23%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62e4f8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#picturethislogo {
    background: url("../images/picturethisclear.png") no-repeat center;
    width:100%;
    height:100%;
}

#squiggle-feature {
    background: url("../images/squiggle.png") no-repeat center;
    background-color:black;
}

.outdolines {
    width:100%;
    height:20%;
    position:absolute;
}
#outdo1 {
    background-color:#f02200;
}
#outdo2 {
    background-color:#dd2b1e;
    top:20%;
}
#outdo3 {
    background-color:#cb344d;
    top:40%;
}
#outdo4 {
    background-color:#b73e78;
    top:60%;
}
#outdo5 {
    background-color:#a548a1;
    top:80%;
}
#outdologo {
    background:url("../images/outdo.png") no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    position:absolute;
}


#loot-feature {
    background: #73cb00; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #73cb00 0%, #509000 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#73cb00), color-stop(100%,#509000)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #73cb00 0%,#509000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #73cb00 0%,#509000 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #73cb00 0%,#509000 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #73cb00 0%,#509000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73cb00', endColorstr='#509000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#lootlogo {
    background: url("../images/loot.png") no-repeat center;
    width:100%;
    height:100%;
}

#carnival-feature {
    background: url("../images/carnivale.png") no-repeat center;
}

#ht-feature {
    background: url("../images/hoteltransylvannia.png") no-repeat center;
}

#chuckclose-feature {
    background: url("../images/chuckclose.jpg") no-repeat center;
}

@media (min-width:420px) and (max-width: 768px) {
    .feature {
        width:50%;
    }
    #hoverdiv {
        width:50%;
    }
}
@media (max-width: 420px) {
    .feature {
        width:100%;
        height:40% !important;
    }
    #hoverdiv {
        width:100%;
        height:40%;
    }
}

/******** ABOUT **********/
.about-section {
    height: 300px;
    width: 737px;
    padding: 75px;
    margin: auto;
}

.paper-top {
    background:url("../images/papertop.png") no-repeat center;
}

.paper-bottom {
    background:url("../images/paperbottom.png") no-repeat center;
}

.about-section img {
    width:100px;
}

.about {
    margin-top:200px;
    margin-bottom:200px;
}

.about h2 {
    font-weight:100;
    margin-top:0;
}

.img-faded {
    opacity:0.6;
}
/*****   PROJECTS ***********/
.storeicons img{
    height:40px;
    margin:0 40px 20px 0px;
    opacity:0.6;
}

.storeicons img:hover {
    opacity:1;
}


.grey-section {
    background-color:#f8f8f8;
    padding:50px 0;
}

.white-section {
    padding-top:50px;
    padding-bottom:50px;
}

#projects-page {
}

.hidethis {
    display:none;
    clear:both;
    padding-top:80px;
}

.iphone {
    position:relative;
}

.glyphicon-nav {
    font-size: 31px;
    color: #ccc;
    position:absolute;
}

.glyphicon-chevron-left {
    top: 544px;
    left: 57px;
}
.glyphicon-chevron-right {
top: 544px;
left: 214px;
}


.screenshot {
position: absolute;
top: 82px;
left: 30px;
height: 436px;
}


/*          GRADIENTS           */
#gradient {
	clear:both;
	width: 400px;
	height: 400px;
    position:relative;
    margin:auto;
}

#gradient div {
	position: absolute;
}

.gradientbtn:hover {
    cursor:pointer;
    background-color:white;
}

/****************** RAYTRACER ******************/
.img-raytracer {
    margin:auto;
}

.col-md-4,.col-md-6,.col-md-12 {
    text-align:center;
}

#cs488 .featurette-heading {
    font-size:30px
}

