body {
    height:100%;
    width:100%;
}

.navbar-fixed-top {
    box-shadow: 0 0 30px 0px rgba(0,0,0,0.1);
    background-color:white;
    border:none;
}

.navbar-right a:hover {
    color:#1BBFFF !important;
}

#features {
    width:100%;
    margin:auto;
    height:800px;
    position:relative;
    margin-top:50px;
}

.feature {
    overflow:hidden;
    width:32%;
    position:absolute;
    background-size:100%;
    -webkit-transition: all 2s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
    cursor:pointer;
}

.feature:hover {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.center {
    width:34%;
}

#walle {
    height:35%;
    left:68%;
    background: black;
}
#walleimg {
    background:url("../images/walle.jpeg") no-repeat ;
    width:100%;
    height:100%;
}

#appleseed {
    height:64%;
    left:68%;
    top:36%;
background: #6b0141; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #6b0141 0%, #3f0026 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#6b0141), color-stop(100%,#3f0026)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #6b0141 0%,#3f0026 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #6b0141 0%,#3f0026 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #6b0141 0%,#3f0026 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #6b0141 0%,#3f0026 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b0141', endColorstr='#3f0026',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#appleseedlogo {
    background: url("../images/appleseed.png") no-repeat center;
    height:100%;
    width:100%;
}

#picturethis {
    background: #62e4f8; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #62e4f8 23%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(23%,#62e4f8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #62e4f8 23%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #62e4f8 23%,#1e5799 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #62e4f8 23%,#1e5799 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #62e4f8 23%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62e4f8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height:75%;
    left:33%;
}

#picturethislogo {
    background: url("../images/picturethisclear.png") no-repeat center;
    width:100%;
    height:100%;
}

#squiggle {
    background: url("../images/squiggle.png") no-repeat center;
    height:24%;
    background-color:black;
    left:33%;
    top:76%;
}

#squiggle:hover {
    background-color:grey;
}

#outdo {
    height:49%;
}


.outdolines {
    width:100%;
    height:20%;
    position:absolute;
}
#outdo1 {
    background-color:#f02200;
}
#outdo2 {
    background-color:#dd2b1e;
    top:20%;
}
#outdo3 {
    background-color:#cb344d;
    top:40%;
}
#outdo4 {
    background-color:#b73e78;
    top:60%;
}
#outdo5 {
    background-color:#a548a1;
    top:80%;
}
#outdologo {
    background:url("../images/outdo.png") no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    position:absolute;
}


#loot {
    background: #73cb00; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #73cb00 0%, #509000 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#73cb00), color-stop(100%,#509000)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #73cb00 0%,#509000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #73cb00 0%,#509000 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #73cb00 0%,#509000 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #73cb00 0%,#509000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73cb00', endColorstr='#509000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height:50%;
    top:50%;
}

#lootlogo {
    background: url("../images/loot.png") no-repeat center;
    width:100%;
    height:100%;
}

@media (min-width:420px) and (max-width: 768px) {
    .feature {
        width:49%;
    }
    #picturethis {
        left:51%;
    }
    #squiggle {
        left:51%;
        height:34%;
    }
    #walle {
        top:101%;
        left:0;
        height:64%;
    }
    #appleseed {
        top:111%;
        left:51%;
        height:54%;
    }
}
@media (max-width: 420px) {
    .feature {
        width:100%;
        height:40% !important;
        position:relative !important;
        top:auto !important;
        left:0 !important;
        margin-bottom:1%;
    }
}

/*          GRADIENTS           */
#gradient-container {
}

#gradient {
	clear:both;
	width: 400px;
	height: 400px;
    position:relative;
    margin:auto;
}

#gradient div {
	position: absolute;
}
